* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    user-select: none;
    color: rgb(59, 59, 59);
    /*background-color: rgb(235, 235, 235);*/
    background-color: rgb(245, 245, 245);
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: "BIZ UDPゴシック","BIZ UDPGothic"; font-weight: bold;
  }

  hr {
    padding: 0px 0;
  }

  /*****************************************************/

  /*Header*/

  header {
    background-color: rgb(59, 59, 59);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:20px 7%;
  }

  h2, a, button {
    color: rgb(183, 183, 183);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
  }
  h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    margin-right: auto;
    color: rgb(255, 255, 255);
  }
  .nav_links {
    list-style: none;
  }
  .nav_links li {
    display: inline-block;
    padding: 0 10px;
  } 
  .nav_links li a {
    transition: all 0.4s; 
  }
  .nav_links li a:hover{
    color: rgb(103, 103, 103);
  }

/*****************************************************/

/*Footer*/

footer {
  background-color: rgb(59, 59, 59);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding:20px 7%;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer .Fot {
  color: rgb(255, 255, 255);
  font-size: 12px;
}

/*****************************************************/

/*Profile*/

.Profile {
    color: rgb(59, 59, 59);
}
.Logo {
    border-radius: 20px;
}
.sns{
    margin: 20px;
}

/*****************************************************/

/*Sns Animation*/

.sns{
  animation-name:flipDownAnime;
  animation-duration:2s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes flipDownAnime{
    from {
      transform: perspective(2500px) rotateX(100deg);
     opacity: 0;
    }
  
    to {
      transform: perspective(2500px) rotateX(0);
    opacity: 1;
    }
  }

/******************************************************/

/*Logo & Status Animation*/

.Logo{
  animation-name:fadeInAnime;
  animation-duration:3s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeInAnime{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

.Status{
  animation-name:fadeInAnime;
  animation-duration:3s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeInAnime{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

/******************************************************/

/*My*/

.Name {
  font-size: 20px;
}
.JapanesePro {
  font: 100;
}