@charset "utf-8";

body {
    background-color: rgb(251, 215, 243);
}

main {
    max-width: 1000px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgb(255, 238, 253);  
    border-radius: 1em;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 0, 191);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: rgb(255, 0, 191);
    font-size: 20px;
    background-color: rgb(255, 238, 253);
    padding: 20px;
    border-radius: 1em;
    font-family: "fantasy";
}

button {
    font-size: 20px;
    padding: 10px;
}