@charset "utf-8";

body {
    user-select: none;
    background-color: rgb(251, 215, 243);
}

h1 {
    padding: 10px;
    margin: 70px;
    text-align: center;
    background-color: rgb(255, 236, 249);
    color: rgb(255, 41, 187);
    padding: 1rem 2rem;
    border-left: 4px solid rgb(255, 0, 191);
}

h2 {
    color: rgb(255, 41, 187);
    border-color: rgb(255, 0, 191);
    margin: 30px;
    padding: 40px;
    border-radius: 30px;
    background-color: rgb(255, 236, 249);
}

h3 {
    margin: 1px;
}

button {
    margin: 20px;
    max-width: 600px;
    width: 150px;
    height: 50px;
    border: 2px solid rgb(255, 193, 249);
   border-radius: 20px;
   background: rgb(255, 214, 251);
   color: rgb(255, 41, 187);
}
button:hover {
    color: #fff;
    background: rgb(255, 79, 226);
    border: 2px solid rgb(255, 79, 226);  
}