@charset "utf-8";
body {
  user-select: none;
  user-zoom: none;
  background-color: rgb(255, 255, 255);
}

main {
    user-select: none;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(229, 229, 229);  
    border-radius: 1em;
    text-align: center;
    font-size: 30px;
    color: rgb(62, 62, 62);
}

  h1{
    user-select: none;
    margin: 40px;
  }

  h2 {
    margin: 10px;
    user-select: none;
    padding: 1px;
    color: rgb(171, 171, 171);
    background-color: rgb(171, 171, 171);
  }
  
  h3 {
    user-select: none;
    font-size: 20px;
    color: rgb(62, 62, 62);
    margin: 35px;
    padding: 0.8em 1em;
    color: #494949;
    background: #f4f4f4;
    border-left: solid 5px #8c8c8d;
    border-bottom: solid 3px #d7d7d7;
  }

  h5 {
    user-select: none;
    font-size: 20px;
    color: rgb(62, 62, 62);
    margin: 35px;
    padding: 0.8em 1em;
    color: #494949;
    background: #f4f4f4;
    border-left: solid 5px #8c8c8d;
    border-bottom: solid 3px #d7d7d7;
  }

  h4 {
    text-align: center;
    font-size: 15px;
    color:rgb(62, 62, 62);
    margin: 2em auto;
    padding: 1em;
    width: 90%;
    border: 1px solid #ccc; 
    background-color: #f4f4f4;
    box-shadow: 1px 1px 2px #ccc;
  }

  g {
    color: rgb(62, 62, 62);
    font-size: 28px;
  }
  
  button {
    user-select: none;
    margin: 20px;
    max-width: 600px;
    width: 150px;
    height: 50px;
    border: 2px solid rgb(168, 168, 168);
   border-radius: 20px;
   background: rgb(229, 229, 229);
  }
  button:hover {
    user-select: none;
    color: #fff;
    background: rgb(168, 168, 168);  
  }

/*フェイクラインの描写*/

a {
  color: #fff;
}